@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #f1f5f9;
  --text-primary: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #0f172a;
    --text-primary: #f1f5f9;
  }
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
